<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <style>
    .fc-content .fc-time{
      display : none !important;
    }

    .fc-today {
      background-color: initial !important;
    }
  </style>

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/moment.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/fullcalendar.js' | relative_url }}"></script>

    <script src="{{ '/assets/js/fullcalendar-init.js' | relative_url }}"></script>

  </body>

</html>
